<a href="https://colab.research.google.com/github/nreimers99/planets/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/home/2022_07_13_WTvsKO_allcompounds_neg.csv")

In [ ]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Compound,Neutral mass (Da),m/z,Charge,Retention time (min),CCS (angstrom^2),Chromatographic peak width (min),Identifications,Anova (p),q Value,...,Accepted Description,Adducts,Formula,Score,Fragmentation Score,Mass Error (ppm),Isotope Similarity,Retention Time Error (mins),dCCS (angstrom^2),Compound Link
2,5.09_803.7568m/z,NaN,803.756834599542,1,5.08691666666667,284.123326675332,0.189,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.97_787.7598m/z,NaN,787.759812435551,1,4.96561666666667,281.068777837925,0.121316666666666,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.05_757.2737m/z,NaN,757.273727334281,1,5.05308333333333,278.10830627242,0.121300000000001,0,1.11022302462516E-16,2.56884855824513E-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,4.97_558.6103m/z,NaN,558.610340163246,1,4.96561666666667,222.573222172956,0.242616666666667,0,1,0.235814623108112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4904,6.11_545.0088m/z,NaN,545.008764540978,1,6.1053,225.898763010644,0.208766666666667,0,1,0.235814623108112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4905,6.17_543.7793m/z,NaN,543.779276665822,1,6.17298333333333,229.103364842383,0.121316666666666,0,1,0.235814623108112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4906,6.79_536.7195m/z,NaN,536.71945570553,1,6.79361666666667,225.98401748089,0.276450000000001,0,1,0.235814623108112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4907,6.45_536.6063m/z,NaN,536.606261104805,1,6.44945,225.985199676216,0.15515,0,1,0.235814623108112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
retention_time = data['Unnamed: 4'][2:].to_numpy().astype('float32')
ccs = data['Unnamed: 5'][2:].to_numpy().astype('float32')
mz = data['Unnamed: 2'][2:].to_numpy().astype('float32')
mz = mz[:1000]
retention_time = retention_time[:1000]
ccs = ccs[:1000]

In [ ]:
# m/z conditions
truth_ls = []
for i in range(len(mz)):
  if i%100 == 0:
    print(i)
  mz_new = np.delete(mz,i)
  for j in range(len(mz_new)):
    if (mz_new[j] <= mz[i]+6.05 and mz_new[j] >= mz[i]+6.03) or (mz_new[j] <= mz[i]-6.05 and mz_new[j] >= mz[i]-6.03):
      truth_ls.append([i,j])

1
101
201
301
401
501
601
701
801
901

In [ ]:
len(truth_ls)

218

In [ ]:
# Retention time conditions
truth_ls_2 = []
for i in range(len(truth_ls)):
  idx1 = truth_ls[i][0]; idx2 = truth_ls[i][1]
  rt1 = retention_time[idx1]
  retention_time_new = np.delete(retention_time,idx1)
  rt2 = retention_time_new[idx2]
  if rt1 <= rt2+rt2*.03 and rt1 >= rt2-rt2*.03:
    truth_ls_2.append(truth_ls[i])

In [ ]:
len(truth_ls_2)

89

In [ ]:
# CCS conditions
truth_ls_3 = []
for i in range(len(truth_ls_2)):
  idx1 = truth_ls_2[i][0]; idx2 = truth_ls_2[i][1]
  rt1 = ccs[idx1]
  ccs_new = np.delete(ccs,idx1)
  rt2 = ccs_new[idx2]
  if rt1 <= rt2+rt2*.05 and rt1 >= rt2-rt2*.05:
    truth_ls_3.append(truth_ls_2[i])

In [ ]:
len(truth_ls_3)

89